<div class="about">
  <h2 class="about-heading">About Us</h2>
</div>
<div class="container ">
  <div class="about-q">
    Vital Innovation is not only a globally recognized IT company but also a family filled with talented experts that
    help global brands,
    enterprises, mid-size businesses or even startups with innovative solutions.
  </div>
  <img src="assets/img/office1.jpg" class="responsive-image" alt="office">
  <div class="para">
    ABOUT USPromatics since its inception has been committed to deliver services that surpass excellence
    and tailored to cater the needs of an ever-evolving digital landscape. Promatics designs, develops and
    delivers web and mobile applications that drive today’s businesses, ameliorate and enhance business capability,
    reduce customer acquisition lead times, accelerate top line growth, create better brand and ultimately beat
    competition. Supported by excogitative research and development, Promatics uses its strengths in technology,
    software,
    mobile as well as customer service to create new revenue-generating opportunities for its customers and at the same
    time reducing the overheads, while enabling them to quickly deploy and better manage and direct their businesses.
  </div>
</div>


  <div class="about-text">
    <div class="container">
    <div class="row">
      <div class="col-lg-6 text-adjust">
        <h1>Who We Are</h1>
        <p>IndiaNIC is not an entity, it’s a family that represents togetherness for over two decades of a successful
          journey. For IndiaNICians, the definition of success is to transcend innovative ideas of people to reality
          with the help of our tech expertise, this is what we, as a Team, want to be remembered for!</p>
        <p>Our vision has led IndiaNIC to become a top IT company in India & USA for delivering various industry-led
          mobility solutions. The goal is to empower clients and businesses by creating new possibilities leveraging the
          technologies of today and tomorrow with the utmost quality, satisfaction, and transparency.</p>
      </div>
      <div class="col-lg-6 text-adjust">
        <h1>What We Do</h1>
        <p>Our enthusiasm has led us to become a top IT company in India & USA for delivering various industry-led
          mobility solutions in web and mobile application development domains leveraging futuristic technologies like
          Internet of Things (IoT), AI-ML, AR-VR, Voice assistants and Voice Skills, DevOps & Cloud computing, etc.</p>
        <p>We feel empowered with our certified tech experts and our R&D team who have always challenged themselves to
          help global clientele with a plethora of IT services and solutions. Engagement with our team guarantees our
          clients to save huge money on project development with faster delivery.</p>
      </div>
    </div>
  </div>
</div>

