


<nav class="navbar navbar-expand-md   py-2">
  <a class="navbar-brand logo" [routerLink]="'.'">VitaL</a>

 
  <label class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <i class="fas fa-bars"></i>
  </label>


  <div [ngbCollapse]="isMenuCollapsed" class="collapse justify-content-end navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/about'" (click)="isMenuCollapsed = true">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/services'" (click)="isMenuCollapsed = true">Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/team'" (click)="isMenuCollapsed = true">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/contact'" (click)="isMenuCollapsed = true">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>






<!-- <nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo">VitaL</label>
  <ul>
    <li><a href="#"><img src="assets/img/home.png"></a></li>
    <li><a (click)="about()">About</a></li>
    <li><a (click)="services()">Services</a></li>
    <li><a (click)="team()">Our Team</a></li>
    <li><a (click)="contact()">Contact Us</a></li>
    
  </ul>
</nav> -->
