<div class="contact">
    <span class="contact-heading">Contact Us</span>
    <div class="contact-q">We are always happy to talk with you.</div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="side-heading">
                  Let's talk
              </div>
              <div class="side-para">
                Let's discuss your project!<br>
                Please, provide us with a brief description of what you already have and what you are going to achieve
              </div>
          </div>
          <div class="rigth-side col-lg-6">
                <form>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" type="text" placeholder="First Name">
                            </div>
                        </div>
                        <div class=" col-lg-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>E-Mail</label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Mobile Phone</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Brief about the project</label>
                       <textarea class="form-control" name="pro-details" id="" cols="10" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Attach File</label>
                        <input class="form-control" type="filr" class="form-control">
                    </div>
                    <div class="buttons">
                        <a  class="btn">Send</a>
                    </div>
                </form>                


            <!-- <form [formGroup]="serviceform" (ngSubmit)="onSubmit()">

                <div class="form-group form-content">
                  <label>Service Code</label>
                  <input type="text" class="form-control" formControlName="service_code"
                    [ngClass]="{ 'is-invalid': submitted && f.service_code.errors }">
                  <div *ngIf="submitted && f.service_code.errors" class="invalid-feedback">
                    <div *ngIf="f.service_code.errors.required">Service Code is required</div>
                  </div>
                </div> -->
          </div>
      </div>
  </div>