.contact {
    text-align: center;
    padding-top: 10rem;
  }
  
  .contact-heading {
    font-size: 50px;
    font-weight: 700;
  }
  .contact-q{
      padding-top: 20px;
      font-size: 20px;
      font-weight: 500;
  }
  .container{
      margin-top: 70px;
  }
  .side-heading{
      color: #fc4e48;
      font-size: 50px;
      font-weight: 600;
    //   padding-top: 40px;
  }
  .side-para{
      font-size: 30px;
      font-weight: 500;
      padding-top: 30px;
  }
  .rigth-side{
      background: rgba(238, 236, 236, 0.952);
      padding: 20px;
      
  }
  .buttons{
      color: white;
  }
  .btn{
      border-radius: 30px;
      padding: 8px 20px;
      background: #fc4e48;
      color: white;
  }