<div class="contact">
    <span class="contact-heading">Contact Us</span>
    <div class="contact-q">We are always happy to talk with you.</div>
  </div>
  <div class="container">
      <div class="boxes row">
          <div class="col-lg-6">
              <div class="side-heading">
                  Let's talk
              </div>
              <div class="side-para">
                Let's discuss your project!<br>
                Please, provide us with a brief description of what you already have and what you are going to achieve
              </div>
              <div class="mail">
                  <p>Mail us <span>infovital@gmail.com</span></p>
              </div>
              <div class="call">
                <p>Call Us <span>+000-000-000</span></p>
            </div>
          </div>
          <div class="rigth-side col-lg-6">
                <form>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" type="text" placeholder="First Name">
                            </div>
                        </div>
                        <div class=" col-lg-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <div class="form-group"> -->
                            <label>E-Mail</label>
                            <input class="form-control" type="text" placeholder="your email address">
                        <!-- </div> -->
                    </div>
                    <div class="form-group">
                        <label>Mobile Phone</label>
                        <input class="form-control" type="text" placeholder="eg : 9876543210">
                    </div>
                    <div class="form-group">
                        <label>Brief about the project</label>
                       <textarea class="form-control" name="pro-details" id="" cols="10" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Attach File</label>
                        <input class="form-control" type="file" class="form-control">
                    </div>
                    <div class="buttons">
                        <a  class="btn">Send</a>
                    </div>
                </form>                
          </div>
      </div>
      <div class="location">
          <div class="location-head"><u>Our Locations</u></div>
        <div class="row">
            <div class="box col-lg-4">
                <h4>UAE  Qatar</h4>
                <div class="flex">
                    <div class="icons"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="address">Vital Innovation , Qatar</div>
                </div>
                <div class="flex">
                    <div class="icons"><i class="fas fa-phone-alt"></i></div>
                    <div class="phno">+910000000000</div>
                </div>
                
            </div>
            <div class="box col-lg-4">
                <h4>India  Kerala</h4>
                <div class="flex">
                    <div class="icons"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="address">Vital Innovation, 5th floor, iv9 retaurant, Malaparamba, Kozhikode, Kerala</div>
                </div>
                <div class="flex">
                    <div class="icons"><i class="fas fa-phone-alt"></i></div>
                    <div class="phno">+910000000000</div>
                </div>
            </div>
            <div class="box col-lg-4">
                <h4>India Chennai</h4>
                <div class="flex">
                    <div class="icons"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="address">Vital Innovation, Chennai</div>
                </div>
                <div class="flex">
                    <div class="icons"><i class="fas fa-phone-alt"></i></div>
                    <div class="phno">+910000000000</div>
                </div>
            </div>
        </div>
      </div>
  </div>