<div class="services">
  <span class="service-head">Our Services</span>
  <div class="container">
    <p class="service-para ">Completely synergize resource taxing relationships via premier niche markets.
      Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling
      customer service for state of the art customer service.</p>
  </div>
  <section class="container-fluid">
    <div class="row-space  row">
      <div class="fl content col-lg-6">
        <span class="content-head">Web Development</span>
        <p class="content-para">Being a leading website application development company, our certified developers have
          unparalleled expertise
          in working with the latest web technologies to deliver custom web solutions. Whether creating a web presence
          for
          your company</p>
        <div class="content-icons">
          <i class="fab fa-angular pr-4"></i>
          <i class="fab fa-python pr-4"></i>
          <i class="fab fa-html5 pr-4"></i>
          <i class="fab fa-css3-alt pr-4"></i>
          <i class="fab fa-js-square pr-4"></i>
          <!-- <i class="fab fa-laravel pr-4"></i> -->
          <i class="fab fa-wordpress pr-4"></i>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <ul>
              <li>Custom Website Development</li>
              <li>eCommerce Store Development</li>
              <li>Full-Stack Development</li>
              <li>Progressive Web Apps</li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12">
            <ul>
              <li>Web Application Development</li>
              <li>Custom CRM/ERP Software Apps</li>
              <li>Responsive Web Apps</li>
              <li>Bespoke CMS Development</li>
            </ul>
          </div>
        </div>
        <div class="button">
          <a class="btn">Learn More</a>
        </div>
      </div>
      <div class=" content col-lg-6 mt-3">
        <img src="assets/img/web.jpg" class="webimg" alt="website">
      </div>
    </div>


    <div class="row-space row">
      <div class=" content col-lg-6 mt-3">
        <img src="assets/img/mobile1.jpeg" class="webimg" alt="website">
      </div>
      <div class=" content col-lg-6">
        <span class="content-head">Mobile Apps Development</span>
        <p class="content-para">From B2B or B2E apps for enterprises, small businesses, and startups, we have a proven track 
          record of offering high-impact, result driven and engaging mobile application development services. We delivering 
          native Android app development, native iOS app development, hybrid and cross-platform app development services to
           build next-gen mobile applications using the latest technology stack.</p>
        <div class="content-icons">
          <i class="fab fa-angular pr-4"></i>
          <i class="fab fa-python pr-4"></i>
          <i class="fab fa-html5 pr-4"></i>
          <i class="fab fa-css3-alt pr-4"></i>
          <i class="fab fa-js-square pr-4"></i>
          <!-- <i class="fab fa-laravel pr-4"></i> -->
          <i class="fab fa-wordpress pr-4"></i>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <ul>
              <li>Native iOS App Development</li>
              <li>Cross-platform App Development</li>
              <li>Wearable App Development</li>
              <li>Xamarin App Development</li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12">
            <ul>
              <li>Native Android App Development</li>
              <li>Hybrid App Development</li>
              <li>React Native App Development</li>
              <li>Flutter App Development</li>
            </ul>
          </div>
        </div>
        <div class="button">
          <a class="btn">Learn More</a>
        </div>
      </div>
    </div>


    <div class="row-space  row">
      <div class=" content col-lg-6">
        <span class="content-head">UI/UX Design</span>
        <p class="content-para">UI/UX design is the catalyst behind the success of any web or mobile app. Vital is 
          a leading web design and mobile app design agency with a knack of turning great ideas into meaningful 
          interactions. Starting from conceptualization, information architecture, visual identity</p>
        <div class="content-icons">
          <i class="fab fa-angular pr-4"></i>
          <i class="fab fa-python pr-4"></i>
          <i class="fab fa-html5 pr-4"></i>
          <i class="fab fa-css3-alt pr-4"></i>
          <i class="fab fa-js-square pr-4"></i>
          <!-- <i class="fab fa-laravel pr-4"></i> -->
          <i class="fab fa-wordpress pr-4"></i>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <ul>
              <li>Wireframes Designing</li>
              <li>High/Low fidelity Prototype</li>
              <li>Responsive Web Design</li>
              <li>UX Analysis</li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12">
            <ul>
              <li>Strategic Design Consulting</li>
              <li>Mobile App Design</li>
              <li>Information Architecture</li>
              <li>UI Design</li>
            </ul>
          </div>
        </div>
        <div class="button">
          <a class="btn">Learn More</a>
        </div>
      </div>
      <div class=" content col-lg-6 mt-3">
        <img src="assets/img/ui1.jpg" class="webimg" alt="website">
      </div>
    </div>

    <div class="row-space  row">
      <div class=" content col-lg-6 mt-3">
        <img src="assets/img/qa1.jpg" class="webimg" alt="website">
      </div>
      <div class=" content col-lg-6">
        <span class="content-head">Quality Assurance (QA)</span>
        <p class="content-para">Our testing engineers have excellent analytical knowledge and skills, as well as
           extensive testing experience, which is great for your project. Our QA testing services company analyzes 
           all the features of the project and the requirements of the customer in order to develop the most 
           appropriate testing strategy for each project using the best practices of functional testing. </p>
        <div class="content-icons">
          <i class="fab fa-angular pr-4"></i>
          <i class="fab fa-python pr-4"></i>
          <i class="fab fa-html5 pr-4"></i>
          <i class="fab fa-css3-alt pr-4"></i>
          <i class="fab fa-js-square pr-4"></i>
          <!-- <i class="fab fa-laravel pr-4"></i> -->
          <i class="fab fa-wordpress pr-4"></i>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <ul>
              <li>QA Documentation</li>
              <li>Web Testing Automation</li>
              <li>Mobile Testing Automation</li>
              <li>API Testing Automation</li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12">
            <ul>
              <li>Manual QA Testing</li>
              <li>Mobile App Testing</li>
              <li>Performance Testing</li>
              <li>Expert QA Consultation</li>
            </ul>
          </div>
        </div>
        <div class="button">
          <a class="btn">Learn More</a>
        </div>
      </div>
    </div>


  </section>

</div>
