<div class="services">
  <span class="service-head">Our Services</span>
  <div class="container">
    <p class="service-para ">Completely synergize resource taxing relationships via premier niche markets. 
      Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling
       customer service for state of the art customer service.</p>
  </div>
<section class="container-fluid">
  <div class="row">
    <div class=" content col-lg-6">
      <span class="content-head">Web Development</span>
      <p class="content-para">Being a leading website application development company, our certified developers have unparalleled expertise
       in working with the latest web technologies to deliver custom web solutions. Whether creating a web presence for
       your company</p>
       <div class="content-icons">
        <i class="fab fa-angular pr-4"></i>
        <i class="fab fa-python pr-4"></i>
        <i class="fab fa-html5 pr-4"></i>
        <i class="fab fa-css3-alt pr-4"></i>
        <i class="fab fa-js-square pr-4"></i>
        <!-- <i class="fab fa-laravel pr-4"></i> -->
        <i class="fab fa-wordpress pr-4"></i>
       </div>
       <div class="row">
        <div class="col-md-6 col-sm-12">
            <ul>
                <li>Custom Website Development</li>
                <li>eCommerce Store Development</li>
                <li>Full-Stack Development</li>
                <li>Progressive Web Apps</li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12">
            <ul>
                <li>Web Application Development</li>
                <li>Custom CRM/ERP Software Apps</li>
                <li>Responsive Web Apps</li>
                <li>Bespoke CMS Development</li>
            </ul>
        </div>
    </div>
    </div>
    <div class=" content col-lg-6 mt-3">
      <img src="assets/img/web.jpeg" style="width: 70%;" alt="website">
      </div>
  </div>
</section>

</div>







<!-- <div class="services">
  <span class="service-heading">Services</span>
  <span class="service-heading">Web and Mobile Software Development Services</span>
</div>
<div class="container">
  <p class="service-para ">A successful offshore software application development company since 1997, providing a full range of
    website and
    mobile app development, games development, IoT, AR-VR and other IT services and solutions globally</p>
</div>
<div class="bg">
  <div class="container contents"> 
      <span class="content-head">Web Development</span>
      <p class="content-note">Being a leading website application development company, our certified developers have unparalleled expertise
        in working with the latest web technologies to deliver custom web solutions. Whether creating a web presence for
        your company, an information hub for your business or empowering your apps/IoT devices through backend- IndiaNIC
        does it all by covering a wide spectrum of web solutions and framework.</p>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <ul>
                    <li>Custom Website Development</li>
                    <li>eCommerce Store Development</li>
                    <li>Full-Stack Development</li>
                    <li>Progressive Web Apps</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12">
                <ul>
                    <li>Web Application Development</li>
                    <li>Custom CRM/ERP Software Apps</li>
                    <li>Responsive Web Apps</li>
                    <li>Bespoke CMS Development</li>
                </ul>
            </div>
        </div>
  </div>
</div> -->
