.bg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("/assets/img/home-bg.jpg") center no-repeat;

  background-size: cover;
  position: relative;
  overflow: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.text-slider {
  //   height: 300px;
  width: 80%;
  //   text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-header {
  font-weight: 700;
  font-size: 80px;
  line-height: 70px;
}

.landing-para {
  font-weight: 600;
  font-size: 20px;
}

@media (max-width:750px) {
  .landing-header {
    //   padding-top: 30px;
    font-weight: 700;
    font-size: 80px;
    font-size: 50px;
    line-height: 40px;
  }

  .landing-para {
    text-align: justify;
  }

}

.responsive {
  // padding-left: 50px;
  height: 400px;
  width: auto;
}

@media (max-width: 1000px) {
  .responsive {
    display: none;
  }
}

body {
  font-family: 'Open Sans', 'sans-serif';
  color: #cecece;
  background: #222;
  overflow: hidden;
}

.item-1,
.item-2,
.item-3 {
  position: absolute;
  display: block;
  top: 2em;

  width: 60%;

  font-size: 2em;

  animation-duration: 30s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.item-1 {
  animation-name: anim-1;
}

.item-2 {
  animation-name: anim-2;
}

.item-3 {
  animation-name: anim-3;
}

@keyframes anim-1 {

  0%,
  8.3% {
    left: -100%;
    opacity: 0;
  }

  8.3%,
  25% {
    left: 25%;
    opacity: 1;
  }

  33.33%,
  100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes anim-2 {

  0%,
  33.33% {
    left: -100%;
    opacity: 0;
  }

  41.63%,
  58.29% {
    left: 25%;
    opacity: 1;
  }

  66.66%,
  100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes anim-3 {

  0%,
  66.66% {
    left: -100%;
    opacity: 0;
  }

  74.96%,
  91.62% {
    left: 25%;
    opacity: 1;
  }

  100% {
    left: 110%;
    opacity: 0;
  }
}

.welcome-text {
  width: 100%;
  padding-top: 6rem;
  text-align: center;
}

.welcome-heading {
  font-size: 50px;
  font-weight: 700;

}

.welcome-heading .company-name {
  color: #084e6a;
}

// .about-bg{
// 	width: 100%;
// 	height: auto;
// }
.company-img {
  width: 100%;
  height: auto;
}


.about-company {
  // background: url("/assets/img/background.jpg")  center no-repeat;
  padding-top: 30px;
  // width: 700px;
  text-align: center;
  // color: white;
}

@media only screen and (max-width: 600px) {
  .about-company {
    width: 100%;
    text-align: justify;
  }
}

.process {
  padding-top: 7rem;

}

.process-head {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.process-content {
  padding-top: 20px;
  text-align: center;
}

.process-content p {
  text-align: justify;
}

.process-icon {
  padding: 20px 0px 20px 0px;
  align-items: center;
}

//service card
.service {
  text-align: center;
  padding-top: 5rem;
}

.service-heading {
  font-size: 50px;
  font-weight: 700;
  // padding-top: 20px;
}

.service-para {
  padding-top: 50px;
  padding-bottom: 30px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}

.container .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  border-radius: 15px;
  border: 3px solid #e2412e;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container .card:hover {

  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  top: 0;
  transition: top ease 0.3s;
  top: -5px;
}

.container .card .content {
  padding: 20px;
  text-align: center;
}


.container .card .content h2 {
  position: absolute;
  top: 80;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.13);
  pointer-events: none;
}

.container .card .content h3 {
  font-size: 1.8rem;
  color: #e2412e;
  z-index: 1;
}


.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #e2412e;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
}


// counter
.counter-up {
  min-height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
}

.counter-up::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(15, 42, 73, 0.8);
}

.counter-up .content {
  z-index: 1;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.counter-up .content .box {
  border: 1px dashed rgba(255, 255, 255, 0.6);
  width: calc(25% - 30px);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
}

.content .box .icon {
  font-size: 48px;
  color: #e6e6e6;
}

.content .box .counter {
  font-size: 50px;
  font-weight: 500;
  color: #f2f2f2;
  font-family: sans-serif;
}

.content .box .text {
  font-weight: 400;
  color: #ccc;
}

@media screen and (max-width: 1036px) {
  .counter-up {
    padding: 50px 50px 0 50px;
  }

  .counter-up .content .box {
    width: calc(50% - 30px);
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 580px) {
  .counter-up .content .box {
    width: 100%;
  }
  .process-content p {
    text-align: center;
  }
  
}

@media screen and (max-width: 500px) {
  .counter-up {
    padding: 30px 20px 0 20px;
  }
}

.domains {
  text-align: center;
  padding-top: 6rem;
}

.domains-heading {
  font-size: 50px;
  font-weight: 700;
}

.domain-content {
  padding-left: 50px;
  margin-bottom: 5rem;
  border-left: 2px solid black;
}

.domain-para {
  padding-top: 15px;
  text-align: left;
}
@media screen and (max-width: 580px) {
  .domain-content {
    padding-left: 25px;
    text-align: center;
    border:none
  }
  .domain-para {
   
    text-align: center;
  }
  
}
