<div class="wrapper">
  <div class="bg">
    <div class="text-slider ">
      <div class=" row">
        <div class="col-lg-8">
          <span class="landing-header">Your Trusted Development Partner</span>
          <div class="landing-para pt-4">We deliver web and mobile app development services to global businesses since
            1997, with 100% project
            delivery success. Hire the best programmers at affordable prices. Our design-focused approach and project
            execution processes help you to deliver the right solutions.</div>
        </div>
        <div class="col-lg-4">
          <img src="assets/img/wel.png" class="responsive" alt="welcome">
        </div>

      </div>
    </div>
  </div>
  <div class="welcome-text">
    <span class="welcome-heading ">Welcome to <span class="company-name">Vital Innovations</span></span>
    <div class="container pt-5">
      <div class=" row">
        <div class="col-lg-6 col-md-12 col-sm-12" style="text-align: justify; padding: 10px;">
          We design, develop and deliver creative user-centric websites and mobile applications.
          Our prowess spans across all things digital, ensuring pinpoint and strategic results.We at Brancosoft believe
          in
          making long term relation, and we treat your project as our own product.<br><br>
          Wondering that what do we mean by modern age business then it's the time to know that in today's digital age
          it's
          very important to have everything at online platform. So our Mobile
          App Development Consulting Services is there to help you know about that how you can mark your business at
          online
          platform that too on Smartphone.
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <img src="assets/img/company.jpg" class="company-img" alt="company">
        </div>
      </div>

      
    </div>
  </div>


  <div class="service">
    <span class=" service-heading ">Our Services</span>
    <div class="container service-para ">
      We develop complex web applications that meet your expectations in every detail. As a web design and development
      company,
      we know how to create fast and powerful websites or web applications that will sustain your online business for
      years.

    </div>
    <div class="container">
      <div class="card">
        <div class="content">
          <h2>01</h2>
          <h3>Web Development</h3>
          <p>Your business can get a reliable facelift for long-term branding solutions across all verticals
            including e-commerce solutions and open source content management exclusively at Vital</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2>02</h2>
          <h3>Software Development</h3>
          <p>Vital is pleased to offer state of the art custom software development solutions for
            all your intra-business requirements and automation needs</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2>03</h2>
          <h3>Mobile App Development</h3>
          <p>Transform and mobilize your business anytime, anywhere
            with custom mobile app development services from Vital Innovations</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2>04</h2>
          <h3>Android App Development</h3>
          <p>Vital team of certified and talented Android app development services
            and designers to accomplish your individual demands as well as your business needs.</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2>05</h2>
          <h3>Blockchain Development</h3>
          <p>Get on the wagon of sure shot success with the high potential technology of blockchains
            in all verticals of commerce and business preparing for digital transformation.</p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2>06</h2>
          <h3>loT Solutions</h3>
          <p>Integrate your business platform with hardware and software-based holistic IOT
            solutions to cater to all your localization, integration and interaction.</p>
          <a href="#">Read more</a>
        </div>
      </div>

      <div class="process">
        <span class="process-head">We Simplify Software Development Process</span>
        <div class="row pt-3">
          <div class="process-content col-lg-3">
            <img src="assets/icons/discover.svg" class="process-icon" alt="discover">
            <h3>Discover</h3>
            <p>We shape brands through exploration, applying in-depth research to challenge assumptions at every turn.
            </p>
          </div>
          <div class="process-content col-lg-3">
            <img src="assets/icons/design.svg" class="process-icon" alt="design">
            <h3>Design</h3>
            <p>Our design approach is to simplify. We embrace the joy in creating something unique that is easy for end
              users.</p>
          </div>
          <div class="process-content col-lg-3">
            <img src="assets/icons/build.svg" class="process-icon" alt="build">
            <h3>Build</h3>
            <p>Using modern technologies, we build with efficiency and skill, creating flexible and scalable
              business-driven solutions.</p>
          </div>
          <div class="process-content col-lg-3">
            <img src="assets/icons/deliver.svg" class="process-icon" alt="deliver">
            <h3>Deliver</h3>
            <p>We take an iterative approach to both our work and our practice, always looking for ways to improve what
              we do.</p>
          </div>
        </div>
      </div>

    </div>
  </div>



  <div class="counter-up mt-5">
    <div class="content">
      <div class="box">
        <div class="icon"><i class="fas fa-history"></i></div>
        <div class="counter">724</div>
        <div class="text">Working Hours</div>
      </div>
      <div class="box">
        <div class="icon"><i class="fas fa-gift"></i></div>
        <div class="counter">508</div>
        <div class="text">Completed Projects</div>
      </div>
      <div class="box">
        <div class="icon"><i class="fas fa-users"></i></div>
        <div class="counter">436</div>
        <div class="text">Happy Clients</div>
      </div>
      <div class="box">
        <div class="icon"><i class="fas fa-award"></i></div>
        <div class="counter">120</div>
        <div class="text">Awards Received</div>
      </div>
    </div>
  </div>

  <div class="domains">
    <span class="domains-heading ">Domain Expertise</span>
    <div class="container pt-5">
      <div class="row">
        <div class="domain-content col-lg-4">
          <h3 class="domain-sub-head">Healthcare</h3>
          <p class="domain-para">We provide expert healthcare Healthcare Software Development
            services/ solutions based on in-depth research and deep industry knowledge.</p>
        </div>
        <div class="domain-content col-lg-4">
          <h3>Hospitality & Travel</h3>
          <p class="domain-para">We provide expert healthcare Healthcare Software Development
            services/ solutions based on in-depth research and deep industry knowledge.</p>
        </div>
        <div class="domain-content col-lg-4">
          <h3>Online Commerce</h3>
          <p class="domain-para">We provide expert healthcare Healthcare Software Development
            services/ solutions based on in-depth research and deep industry knowledge.</p>
        </div>
        <div class="domain-content col-lg-4">
          <h3>Technology &Software</h3>
          <p class="domain-para">We provide expert healthcare Healthcare Software Development
            services/ solutions based on in-depth research and deep industry knowledge.</p>
        </div>
        <div class="domain-content col-lg-4">
          <h3>Healthcare</h3>
          <p class="domain-para">We provide expert healthcare Healthcare Software Development
            services/ solutions based on in-depth research and deep industry knowledge.</p>
        </div>

      </div>
    </div>
  </div>

</div>

<!-- <script>
      $(document).ready(function(){
        $('.counter').counterUp({
          delay: 10,
          time: 1000
        });
      });
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script> -->
